<div class='list'>
    <div class='list-item list-item-fisrt' [ngClass]="{'list-item-active' : !activeTemplate?.id}"
        (click)='changeActiveTemplate($event,null)'>
        <span>
            Background
        </span>
        <div>
            <i class="fa-regular fa-eye" (click)="viewMode()" title="Chế độ xem"></i>
            <span (click)="fullScreen($event)"><i class="fa-solid fa-expand" title="Toàn màn hình"></i></span>
        </div>
    </div>
    <div class='line'></div>
    <div class='list-view'>
        <ng-container *ngFor="let item of listTemplate">
            <ng-container *ngIf="isGroup(item)">
                <div class='view-group-list' [ngClass]="{'list-item-active' : activeTemplate?.id === item.id}"
                    (click)='changeActiveTemplate($event,item)'>
                    <div class='view-group-list-p'>
                        <span>
                            {{item.name}}
                        </span>
                        <div class='list-item-action'>
                            <i class="fa-solid fa-plus" (click)="addEleGroup(item)"
                                title="Thêm thành phần cho nhóm"></i>
                            <i class="fa-solid fa-copy" (click)="copyEle(item)" title="Copy nhóm"></i>
                            <i class="fa-regular" [ngClass]="{'fa-eye': !item.hidden, 'fa-eye-slash' : item.hidden}"
                                (click)="hidden(item)" title="Ẩn/Hiện"></i>
                            <i class="fa-regular fa-trash-can" (click)="deleteELe(item)" title="Xóa nhóm"></i>
                            <i class="fa-solid " (click)="findGroup(item.id).isOpen = !findGroup(item.id).isOpen"
                                [ngClass]="{'fa-chevron-right' : !findGroup(item.id).isOpen, 'fa-angle-down': findGroup(item.id).isOpen}"></i>
                        </div>
                    </div>
                    <div class='view-group-list-c-div' [ngClass]="{
                        'active-view-group-list-c-div' : findGroup(item.id).isOpen
                    }">
                        <div *ngFor="let itemGroup of item.data" class='view-group-list-c'
                            [ngClass]="{'list-item-active' : activeTemplate?.id === itemGroup.id}"
                            (click)='changeActiveTemplate($event,itemGroup)'>
                            <li class='view-group-list-c-name'>
                                <span>
                                    {{itemGroup.name}}
                                </span>
                            </li>
                            <div class='list-item-action'>
                                <i class="fa-solid fa-copy" (click)="copyEle(itemGroup)" title="Copy mẫu"></i>
                                <i class="fa-regular" title="Ẩn/Hiện" [ngClass]="{
                                        'fa-eye': (itemGroup.type !== typeTemplate.CHECK_IN) ? !itemGroup.hidden : !itemGroup.checkInOptions[itemGroup.checkInOptions.activeType].hidden,
                                        'fa-eye-slash' : (itemGroup.type !== typeTemplate.CHECK_IN) ? itemGroup.hidden : itemGroup.checkInOptions[itemGroup.checkInOptions.activeType].hidden
                                    }" (click)="hidden(itemGroup)"></i>
                                <i class="fa-regular fa-trash-can" (click)="deleteELe(itemGroup)" title="Xóa mẫu"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isGroup(item)">
                <div class='list-item' (click)='changeActiveTemplate($event,item)'
                    [ngClass]="{'list-item-active' : activeTemplate?.id === item.id}">
                    <span>
                        {{item.name}}
                    </span>
                    <div class='list-item-action'>
                        <i class="fa-solid fa-copy" (click)="copyEle(item)" title="Copy mẫu"></i>
                        <i class="fa-regular" title="Ẩn/Hiện" [ngClass]="{
                            'fa-eye': (item.type !== typeTemplate.CHECK_IN) ? !item.hidden : !item.checkInOptions[item.checkInOptions.activeType].hidden,
                            'fa-eye-slash' : (item.type !== typeTemplate.CHECK_IN) ? item.hidden : item.checkInOptions[item.checkInOptions.activeType].hidden
                        }" (click)="hidden(item)"></i>
                        <i class="fa-regular fa-trash-can" (click)="deleteELe(item)" title="Xóa mẫu"></i>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class='line'></div>
        <div class='div-action'>
            <button (click)="addEle()">Thêm</button>
            <button (click)="addGroup()">Thêm nhóm</button>
            <button (click)="saveToImg()">Lưu File ảnh</button>
            <button (click)="viewMode()">Chế độ {{typeView}}</button>
            <button (click)="save()">Lưu</button>
        </div>
    </div>
</div>