<div class='info'>
    <div class='info-title'>
        <span>Tên</span>
        <input type="text" [(ngModel)]='activeTemplate.name'>
    </div>
    <div class='info-view'>
        <ng-container *ngIf="!isTemplate">
            <div class='item'>
                <div class='item-title'>
                    Link
                </div>
                <div class='item-data'>
                    <input type="text" [(ngModel)]='activeTemplate.url'>
                </div>
            </div>
            <div class='item'>
                <div class='item-title'>
                    Upload
                </div>
                <div class='item-data'>
                    <input type="file" (change)='uploadImg($event)' accept="image/png, image/gif, image/jpeg">
                </div>
            </div>
            <div class='item'>
                <div class='item-title'>
                    tỉ lệ màn hình
                </div>
                <div class='item-data'>
                    <ng-select [(ngModel)]="activeTemplate.scale" (ngModelChange)="changeScale($event)"
                        [clearable]='false' class='custom-ngselect'>
                        <ng-option *ngFor="let car of typeScreen" [value]="car">{{car}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class='item'>
                <div class='item-title'>
                    Trạng thái check in
                </div>
                <div class='item-data'>
                    <ng-select [(ngModel)]="checkOptionValue" (ngModelChange)="changeStateCheckin($event)"
                        [clearable]='false' class='custom-ngselect'>
                        <ng-option *ngFor="let car of checkOption" [value]="car.value">{{car.label}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isTemplate">
            <div class='item' *ngIf="!isGroup(activeTemplate)">
                <div class='item-title'>
                    kiểu Template
                </div>
                <div class='item-data'>
                    <ng-select [(ngModel)]="activeTemplate.type" [clearable]='false' class='custom-ngselect'>
                        <ng-option *ngFor="let car of typeTemplateArray" [value]="car">{{car}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[1]">
                <div class='item'>
                    <div class='item-title'>
                        Link
                    </div>
                    <div class='item-data'>
                        <input type="text" [(ngModel)]='activeTemplate.url'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Upload
                    </div>
                    <div class='item-data'>
                        <input type="file" (change)='uploadImg($event)' accept="image/png, image/gif, image/jpeg">
                    </div>
                </div>
                <div class="item">
                    <div class='item-title'>
                        Dự liệu động
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.url" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let item of this.createTemplateService.listQrValueDynamic"
                                [value]="item.value">{{item.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều dài
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.height'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[0]">
                <div class='item'>
                    <div class='item-title'>
                        Nội dung
                    </div>
                    <div class='item-data'>
                        <textarea name="" id="" cols="30" rows="3" [(ngModel)]='activeTemplate.content'></textarea>
                    </div>
                </div>
                <div class="item">
                    <div class='item-title'>
                        Dự liệu động
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.content" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let item of this.createTemplateService.listValueDynamic"
                                [value]="item.value">{{item.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Cỡ chữ
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.fontSize'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        In đậm
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.fontWeight" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let item of fontWeight" [value]="item">{{item}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        kiểu chữ
                        <div class='item-data'>
                            <ng-select [(ngModel)]="activeTemplate.fontFamily" [clearable]='false'
                                class='custom-ngselect'>
                                <ng-option *ngFor="let item of fontFamily" [value]="item">{{item}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu chữ
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.color'>
                        <input type="text" [(ngModel)]='activeTemplate.color'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.background'>
                        <span class='item-data-input-color-title'>{{activeTemplate.background}}</span>
                        <span class='transparent' (click)="activeTemplate.background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Padding
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.padding'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Căn lề
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.align" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let car of typeAlign" [value]="car">{{car}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[2]">
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều dài
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.height'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.background'>
                        <span class='item-data-input-color-title'>{{activeTemplate.background}}</span>
                        <span class='transparent' (click)="activeTemplate.background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[3]">
                <div class='item'>
                    <div class='item-title'>
                        kiểu Template check in
                    </div>
                    <div class='item-data'>
                        <ng-select
                            [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].type"
                            [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let car of typeTemplateArrayCheckIn" [value]="car">{{car}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color"
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background'>
                        <span
                            class='item-data-input-color-title'>{{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background}}</span>
                        <span class='transparent'
                            (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <ng-container [ngSwitch]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].type">
                    <ng-container *ngSwitchCase="typeTemplate.TEXT">
                        <div class='item'>
                            <div class='item-title'>
                                Nội dung
                            </div>
                            <div class='item-data'>
                                <textarea name="" id="" cols="30" rows="3"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].content'></textarea>
                            </div>
                        </div>
                        <div class="item">
                            <div class='item-title'>
                                Dự liệu động
                            </div>
                            <div class='item-data'>
                                <ng-select
                                    [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].content"
                                    [clearable]='false' class='custom-ngselect'>
                                    <ng-option *ngFor="let item of this.createTemplateService.listValueDynamic"
                                        [value]="item.value">{{item.label}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Chiều rộng
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].width'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Cỡ chữ
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].fontSize'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                In đậm
                            </div>
                            <div class='item-data'>
                                <ng-select
                                    [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].fontWeight"
                                    [clearable]='false' class='custom-ngselect'>
                                    <ng-option *ngFor="let item of fontWeight" [value]="item">{{item}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                kiểu chữ
                                <div class='item-data'>
                                    <ng-select
                                        [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].fontFamily"
                                        [clearable]='false' class='custom-ngselect'>
                                        <ng-option *ngFor="let item of fontFamily" [value]="item">{{item}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Màu chữ
                            </div>
                            <div class='item-data'>
                                <input type="color"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].color'>
                                <input type="text"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].color'>

                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Màu nền
                            </div>
                            <div class='item-data'>
                                <input type="color"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background'>
                                <span
                                    class='item-data-input-color-title'>{{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background}}</span>
                                <span class='transparent'
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background = 'transparent'">
                                    <i class="fa-regular fa-square"></i></span>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Padding
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].padding'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Bo góc
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].borderRadius'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Căn lề
                            </div>
                            <div class='item-data'>
                                <ng-select
                                    [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].align"
                                    [clearable]='false' class='custom-ngselect'>
                                    <ng-option *ngFor="let car of typeAlign" [value]="car">{{car}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeTemplate.IMAGE">
                        <div class='item'>
                            <div class='item-title'>
                                Link
                            </div>
                            <div class='item-data'>
                                <input type="text"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].url'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Upload
                            </div>
                            <div class='item-data'>
                                <input type="file" (change)='uploadImg($event, true)'
                                    accept="image/png, image/gif, image/jpeg">
                            </div>
                        </div>
                        <div class="item">
                            <div class='item-title'>
                                Dự liệu động
                            </div>
                            <div class='item-data'>
                                <ng-select
                                    [(ngModel)]="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].url"
                                    [clearable]='false' class='custom-ngselect'>
                                    <ng-option *ngFor="let item of this.createTemplateService.listQrValueDynamic"
                                        [value]="item.value">{{item.label}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Chiều rộng
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].width'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Chiều dài
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].height'>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeTemplate.BACKGROUND">
                        <div class='item'>
                            <div class='item-title'>
                                Chiều rộng
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].width'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Chiều dài
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].height'>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Màu nền
                            </div>
                            <div class='item-data'>
                                <input type="color"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background'>
                                <span
                                    class='item-data-input-color-title'>{{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background}}</span>
                                <span class='transparent'
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background = 'transparent'"><i
                                        class="fa-regular fa-square"></i></span>
                            </div>
                        </div>
                        <div class='item'>
                            <div class='item-title'>
                                Bo góc
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].borderRadius'>
                            </div>
                        </div>
                    </ng-container>
                    <div class='div-action'>
                        <button (click)="copySameCheckin()">cài đặt giống nhau</button>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <!-- <div class='item action'>
        <button (click)="saveAttr()">lưu</button>
    </div> -->
</div>