<div class='info'>
    <div class='info-title'>
        {{activeTemplate.name}}
    </div>
    <div class='info-view'>
        <ng-container *ngIf="!isTemplate">
            <div class='item'>
                <div class='item-title'>
                    Link
                </div>
                <div class='item-data'>
                    <input type="text" [(ngModel)]='activeTemplate.url'>
                </div>
            </div>
            <div class='item'>
                <div class='item-title'>
                    Upload
                </div>
                <div class='item-data'>
                    <input type="file" (change)='uploadImg($event)' accept="image/png, image/gif, image/jpeg">
                </div>
            </div>
            <div class='item'>
                <div class='item-title'>
                    tỉ lệ màn hình
                </div>
                <div class='item-data'>
                    <ng-select [(ngModel)]="activeTemplate.scale" (ngModelChange)="changeScale($event)"
                        [clearable]='false' class='custom-ngselect'>
                        <ng-option *ngFor="let car of typeScreen" [value]="car">{{car}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isTemplate">
            <div class='item'>
                <div class='item-title'>
                    kiểu Template
                </div>
                <div class='item-data'>
                    <ng-select [(ngModel)]="activeTemplate.type" [clearable]='false' class='custom-ngselect'>
                        <ng-option *ngFor="let car of typeTemplateArray" [value]="car">{{car}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[1]">
                <div class='item'>
                    <div class='item-title'>
                        Link
                    </div>
                    <div class='item-data'>
                        <input type="text" [(ngModel)]='activeTemplate.url'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Upload
                    </div>
                    <div class='item-data'>
                        <input type="file" (change)='uploadImg($event)' accept="image/png, image/gif, image/jpeg">
                    </div>
                </div>
                <div class="item">
                    <div class='item-title'>
                        Dự liệu động
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.url" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let item of this.createTemplateService.listQrValueDynamic"
                                [value]="item.value">{{item.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều dài
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.height'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[0]">
                <div class='item'>
                    <div class='item-title'>
                        Nội dung
                    </div>
                    <div class='item-data'>
                        <textarea name="" id="" cols="30" rows="3" [(ngModel)]='activeTemplate.content'></textarea>
                    </div>
                </div>
                <div class="item">
                    <div class='item-title'>
                        Dự liệu động
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.content" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let item of this.createTemplateService.listValueDynamic"
                                [value]="item.value">{{item.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Cỡ chữ
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.fontSize'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu chữ
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.color'>
                        <span class='item-data-input-color-title'>{{activeTemplate.color}} </span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.background'>
                        <span class='item-data-input-color-title'>{{activeTemplate.background}}</span>
                        <span class='transparent' (click)="activeTemplate.background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Padding
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.padding'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Căn lề
                    </div>
                    <div class='item-data'>
                        <ng-select [(ngModel)]="activeTemplate.align" [clearable]='false' class='custom-ngselect'>
                            <ng-option *ngFor="let car of typeAlign" [value]="car">{{car}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[2]">
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều dài
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' [(ngModel)]='activeTemplate.height'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color" [(ngModel)]='activeTemplate.background'>
                        <span class='item-data-input-color-title'>{{activeTemplate.background}}</span>
                        <span class='transparent' (click)="activeTemplate.background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bo góc
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.borderRadius'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Rotate (deg)
                    </div>
                    <div class='item-data'>
                        <input type="number" class='width-100' [(ngModel)]='activeTemplate.rotate'>
                        <span class='item-data-input-color-title'>deg</span>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Z
                    </div>
                    <div class='item-data'>
                        <input type="number" [(ngModel)]='activeTemplate.zIndex'>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTemplate.type === typeTemplateArray[3]">
                <div class='item'>
                    <div class='item-title'>
                        Màu nền
                    </div>
                    <div class='item-data'>
                        <input type="color"
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background'>
                        <span
                            class='item-data-input-color-title'>{{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background}}</span>
                        <span class='transparent'
                            (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].background = 'transparent'"><i
                                class="fa-regular fa-square"></i></span>
                    </div>
                </div>
                <!-- <div class='item'>
                    <div class='item-title'>
                        Padding
                    </div>
                    <div class='item-data'>
                        <input type="number"
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.padding'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Chiều rộng nội dung (%)
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' max='100'
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.width'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Tỉ lệ độ rộng của nội dung
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' max='100'
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.scaleContentVSTitle'>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Tỉ lệ độ rộng của tiêu đề
                    </div>
                    <div class='item-data'>
                        <input type="number" min='0' max='100'
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.scaleTitleVsContent'>
                    </div>
                </div> -->
                <div class='item'>
                    <div class='item-title'>
                        Bên trái
                    </div>
                    <div class='item-data item-data-col'>
                        <div class='groud-item'>
                            <p>
                                Ảnh <i class="fa-regular"
                                    [ngClass]="{'fa-eye': !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.hidden, 'fa-eye-slash' : activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.hidden}"
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.hidden = !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.hidden"></i>
                            </p>
                            <div class='item-title'>
                                Link
                            </div>
                            <div class='item-data'>
                                <input type="text"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.url'>
                            </div>
                            <div class='item-title'>
                                Bo góc ảnh
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0' max='100'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.borderRadius'>
                            </div>
                            <div class='item-title'>
                                Độ rộng
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0' max='100'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.width'>
                            </div>
                            <div class='item-title'>
                                Độ dài
                            </div>
                            <div class='item-data'>
                                <input type="number" min='0' max='100'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.img.height'>
                            </div>
                        </div>
                        <div class='groud-item'>
                            <p>
                                Tiêu đề<i class="fa-regular"
                                    [ngClass]="{'fa-eye': !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.hidden, 'fa-eye-slash' : activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.hidden}"
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.hidden = !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.hidden"></i>
                            </p>
                            <div class='item-title'>
                                Nội dung
                            </div>
                            <div class='item-data'>
                                <textarea name="" id="" cols="30" rows="3"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.content'></textarea>
                            </div>
                            <div class='item-title'>
                                Màu
                            </div>
                            <div class='item-data'>
                                <input type='color'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.color'>
                                <span class='item-data-input-color-title'>
                                    {{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.color}}
                                </span>
                            </div>
                            <div class='item-title'>
                                Cỡ chữ
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].left.title.fontSize'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <div class='item-title'>
                        Bên phải
                    </div>
                    <div class='item-title'>
                        padding
                    </div>
                    <div class='item-data'>
                        <input type="number"
                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.padding'>
                    </div>
                    <div class='item-data item-data-col'>
                        <div class='groud-item'>
                            <p>
                                Tiêu đề <i class="fa-regular"
                                    [ngClass]="{'fa-eye': !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.hidden, 'fa-eye-slash' : activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.hidden}"
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.hidden = !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.hidden"></i>
                            </p>
                            <div class='item-title'>
                                Nội dung
                            </div>
                            <div class='item-data'>
                                <textarea name="" id="" cols="30" rows="3"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.content'></textarea>
                            </div>
                            <div class='item-title'>
                                Màu
                            </div>
                            <div class='item-data'>
                                <input type='color'
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.color'>
                                <span class='item-data-input-color-title'>
                                    {{activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.color}}
                                </span>
                            </div>
                            <div class='item-title'>
                                Cỡ chữ
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.title.fontSize'>
                            </div>
                        </div>
                        <div class='groud-item'>
                            <p>
                                Thông tin check in <i class="fa-regular"
                                    [ngClass]="{'fa-eye': !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden, 'fa-eye-slash' : activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden}"
                                    (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden = !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden"></i>
                            </p>
                            <div class='item-title'>
                                Độ rộng tiêu đề
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.scaleTitleVsContent'>
                            </div>
                            <div class='item-title'>
                                độ rộng nội dung
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.scaleContentVSTitle'>
                            </div>
                            <div class='item-title'>
                                padding
                            </div>
                            <div class='item-data'>
                                <input type="number"
                                    [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.padding'>
                            </div>
                            <div class='groud-item'>
                                <div class='item-title'>
                                    Thông tin check in
                                </div>
                                <div class='groud-item'>
                                    <p>
                                        Thông tin 1 <i class="fa-regular"
                                            [ngClass]="{'fa-eye': !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden, 'fa-eye-slash' : activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden}"
                                            (click)="activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden = !activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.hidden"></i>
                                    </p>
                                    <div class='item-title'>
                                        Độ rộng tiêu đề
                                    </div>
                                    <div class='item-data'>
                                        <input type="number"
                                            [(ngModel)]='activeTemplate.checkInOptions[activeTemplate.checkInOptions.activeType].right.content.scaleTitleVsContent'>
                                    </div>
                                </div>
                                <div>
                                    <button (click)="addMoreInfo()">
                                        thêm thông tin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <!-- <div class='item action'>
        <button (click)="saveAttr()">lưu</button>
    </div> -->
</div>