.info {
    width: 100%;
    height: 100%;

    .info-title {
        height: 40px;
        border-bottom: 2px solid #e5e5e5;
        display: flex;
        padding: 8px 10px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 500;
        align-items: center;

        span {
            margin-right: 10px;
        }

        input {
            width: 100%;
            border: 1px solid #b4b4b4;
            padding: 6px 6px;
            border-radius: 4px;
        }


        input:focus-visible {
            outline: none;

        }
    }

    .info-view {
        overflow-y: auto;
        height: calc(100% - 60px);
    }

    .action {
        display: flex;
        justify-content: flex-end;
        border-bottom: none !important;

        button {
            border-radius: 5px;
            width: 60px;
            border: 1px solid #e5e5e5;
            background-color: #0d99ff;
            color: white;
            padding: 5px 15px;
        }

        button:hover {
            opacity: 0.7;
        }
    }

    .item {
        width: calc(100% - 20px);
        border-bottom: 2px solid #e5e5e5;
        padding: 8px 10px;
        font-size: 14px;

        .item-title {
            font-weight: 500;
            margin-bottom: 8px;
        }

        .item-data-col {
            flex-direction: column;
            align-items: initial !important;

            .groud-item {
                border: 2px solid #e5e5e5;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 10px;

                p {
                    font-size: 15px;
                    font-weight: 600;
                    text-align: center;
                    margin: 0px 0px 5px 5px;

                    i {
                        cursor: pointer;
                        margin-left: 5px;
                    }

                    i:hover {
                        opacity: 0.7;
                    }
                }

                button {
                    border-radius: 3px;
                    border: none;
                    background-color: #0d99ff;
                    color: white;
                    padding: 3px 11px;
                    margin: 5px;
                    cursor: pointer;
                }

                button:hover {
                    opacity: .7;
                }
            }
        }


        .item-data {
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            .width-100 {
                width: 100px;
                margin-right: 10px;
            }

            textarea {
                resize: vertical;
                width: 100%;
                border: 1px solid #b4b4b4;
                padding: 3px 6px;
                border-radius: 4px;
            }

            textarea:focus-visible {
                outline: none;

            }

            input {
                width: 100%;
                border: 1px solid #b4b4b4;
                padding: 6px 6px;
                border-radius: 4px;
            }

            input:focus-visible {
                outline: none;

            }

            input[type="color"] {
                width: 60px;
                margin-right: 10px;
            }

            .item-data-input-color-title {
                font-weight: 500;
            }

            .transparent {
                cursor: pointer;
                margin-left: 10px;
            }

            .transparent:hover {
                opacity: 0.7;
            }

            .custom-ngselect {
                width: 100%;
            }

        }
    }
}

.div-action {
    margin: 10px 6px;

    button {
        border-radius: 3px;
        border: none;
        background-color: #0d99ff;
        color: white;
        padding: 3px 11px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        opacity: .7;
    }
}