<!-- <div>
  {{this.scale}}
  {{this.createTemplateService.currentWidth}}
  {{this.createTemplateService.currentHeight}}
</div> -->
<div #eleViewParent [ngStyle]="{
  'aspect-ratio': this.createTemplateService.background.scale,
  width: this.createTemplateService.background.scale === typeScreen.PC ? '100%' :'auto',
  height: this.createTemplateService.background.scale === typeScreen.PC ? 'auto' :'100%',
  overflow: 'hidden'
}">
  <div class='view' [style]="{
    'background-color': 'white',
    position: 'relative',
    'user-select': 'none'
  }" (wheel)="wheel($event)" (click)="selectBackground()" #eleView [ngStyle]="{
    'aspect-ratio': this.createTemplateService.background.scale,
    width: this.createTemplateService.background.scale === typeScreen.PC ? '100%' :'auto',
    height: this.createTemplateService.background.scale === typeScreen.PC ? 'auto' :'100%'
  }" (mouseover)="mouseOver($event)">
    <img [style]="{
      width: '100%',
      height: '100%'
    }" [src]="this.createTemplateService.background.url" alt="" draggable='false'>
    <ng-container *ngIf="scale">
      <ng-container *ngFor="let data of listTemplate">
        <app-create-template-view-ele [scale]="scale" [data]="data"
          *ngIf="!isGroup(data)"></app-create-template-view-ele>
        <app-create-template-view-group *ngIf="isGroup(data)" [scale]="scale"
          [data]="data"></app-create-template-view-group>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class='view-loading' *ngIf="loading">
  <i class="fa-solid fa-spinner fa-spin-pulse"></i>
</div>